
/* BARRA NAVEGAÇÃO  - CSS */
div#navegação{
    width: 80px;
    height: 500px;
    background-color: #6461b9;
    float: left;
    box-shadow:16px 22px 22px rgba(0, 0, 0, 0);
    border-radius: 20px;
    margin-left: 20px;
    align-items: center;
    
    
    
}
.navegacao{
    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-left: 4px;
    background-color: #4c48a23a;
    border-radius: 65px;
    box-shadow:3px 8px 15px rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    
    
}
.icone{
    width: 30px;
    height: auto;
}

@keyframes animatee{
    100%{
    width: 70px;
    height: 70px;
    margin-left: 5px;}

}
@keyframes animator{
    100%{width:420px;
    height: 530px;}
}

.navegacao_div{
    width: auto;
    height: 90vh;
}
.navegacao:hover{
    animation-name: animatee;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}


/* BARRAM DE TITULO*/
.titulo{
    background-color: #0e0d2c;
    width: auto;
    height: 70px;
    text-align: center;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.123);;
    
    
}
div#perfil{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}